.gallery {
  display: flex;
}
.itemGallery img{
  width: 210px;
  height: 210px;
  object-fit: contain;
}

.glider-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  
}

.glider-contain {
  width: 75% !important;
}

.glider-next, .glider-prev {
  color: red !important;
}